@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  line-height: 1.6rem;
  margin-inline: auto;
  min-height: 100dvh;
}

img {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}
