@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.6rem !important;
  min-height: 100dvh !important;
  margin-inline: auto !important;
  font-size: 14px !important;
}

img {
  display: block;
  -webkit-user-select: none;
  user-select: none;
}
