.contact-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex: 1;

  @media only screen and (max-width: 1080px) {
    display: block;
  }
  .contact-form {
    width: 85%;

    h1 {
      font-weight: 600;
      font-size: 3.5rem;
      margin: 0;
      height: auto;
      line-height: 4rem;
    }
    p {
      color: #727e82;
      display: inline-block;
      margin-top: -10px;
    }
    form {
      display: inline-grid;
      position: relative;
      width: 100%;

      label {
        font-weight: 600;
      }
      input {
        border: 1px solid grey;
        border-radius: 4px;
        margin-bottom: 1rem;

        &:last-child {
          margin-top: 1.5rem;
        }
      }
      input[type="text"] {
        width: 250px;
        padding: 8px 6px;
      }
      textarea {
        border-radius: 4px;
        max-width: 500px;
        padding: 8px 6px;
        resize: vertical;
      }
      .submit {
        max-width: 100px;
      }
    }
  }
  .aside {
    border-left: 1px solid $black;
    padding: 10px;
    width: 15%;

    h6 {
      font-size: 1rem;
    }
    span {
      font-size: 0.8rem !important;
      position: relative;
      top: -4px;
    }
    div {
      & > * {
        margin: 0;
      }
    }
    @media only screen and (max-width: 1080px) {
      display: none;
    }
  }
}
