nav {
  display: block;
  position: sticky;
  height: 140px;
  top: 0;

  ul {
    // background: $black;
    background-color: beige;
    list-style: none;
    margin: 0;
    padding: 24px 0 12px 12px;

    & > li > a {
      color: $white !important;
      text-decoration: none;
      text-transform: uppercase;

      &:visited {
        color: inherit;
      }
      &.active {
        @extend %bold;
      }
    }
    & > li {
      display: inline-block;
      font-size: 1.025rem;
      margin-right: 2rem;
    }
  }
}

.active {
  font-weight: 600;
}
