.not-found {
  padding: 100px 0;
  text-align: center;

  h1 {
    font-size: 4rem;
    margin: 0;
  }

  p {
    margin: 0 0 25px 0;
  }

  .button {
    &:after {
      content: '>';
      position: relative;
      left: 8px;
    }
  }
}
