.not-found {
  padding: 100px 0;
  text-align: center;

  h1 {
    font-size: 12rem;
    margin: 0;
  }

  p {
    margin: -20px 0 25px 0;
  }

  .button {
    &:after {
      content: ">";
      position: relative;
      left: 8px;
    }
  }
}
