a.view-details {
  color: $white;
  text-decoration: none;
}

.products {
  align-items: center;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);

  @media only screen and (max-width: 1200px) {
    grid-template-columns: repeat(2, 1fr);
  }
  @media only screen and (max-width: 300px) {
  }
  @media only screen and (max-width: 600px) {
    grid-template-columns: repeat(1, 1fr);
  }

  .card {
    padding: 10px 20px;

    .price {
      font-weight: 600;
    }
    img {
      display: block;
      margin: 0 auto;
      width: calc(100%);
    }
    h1,
    span,
    p {
      font-weight: 500;
      font-size: 1rem;
    }
    h1 {
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }
}
