$black: #000;
$white: #fff;
$body: #f4f6f8;

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

// button,
// button.button,
// a.button,
// input[type="submit"]
.button {
  border-radius: 32px !important;
  border: none;
  background: $black;
  color: $white;
  font-weight: 600;
  padding: 8px 24px;
  text-decoration: none;
  text-align: center;
  white-space: nowrap;
}

a {
  &:visited {
    color: inherit;
  }
}
