.button {
  border-radius: 100px;
  border: none;
  background-color: #000;
  color: #fff;
  font-weight: 600;
  padding: 8px 24px;
}

$black: #000;
$white: #000;

$error: #bd1010;
$success: #4ea216;
