.product {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 200px;

    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    h1 {
        font-size: 1rem;
        font-weight: 600;
        margin: 0;
        
        span {
            float: right;
            position: relative;
        }
    }
    .image {
        border-bottom: 1px solid grey;
    }
    p {
        line-height: 1rem;
        margin: 0;
        color: #757475;
    }
}